/* todo start */
.todo__header{
    margin-top: 20px;
    text-align: center;
}

.todo__new-text{
    width: 88%; 
    height: 100px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
}

.todo__add-button{
    width: 100px;
    height: 40px;
    color: rgb(243, 232, 232);
    background-color: $blue;
    border-radius: 5px;
    vertical-align: bottom;
    margin-left: 5px;
    margin-top: 15px;
}

.todo__filter{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    .todo__data{
        width: 10%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__filter{
            width: 30px;
            height: 25px;
            background-size: cover;
            background-repeat: no-repeat;

            &-up{
                background-position: top;
                background-image: url('../img/TriangleGrey.png');
            }
            &-down{
                background-image: url('../img/TriangleGreyDown.png');
            }
        }
    }
    .todo__priority{
        width: 10%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__filter{
            width: 30px;
            height: 20px;
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;

            &-up{
                background-image: url('../img/TriangleGrey.png');
            }
            &-down{
                background-image: url('../img/TriangleGreyDown.png');
            }
        }
        &__numbers{
            width: 40px;
            height: 15px;
        }
    }
    .todo__desc__filter{
        width: 65%;
    }

    .todo__desc{
        width: 62%;
        height: 40px;
    }
    .todo__actions{
        width: 15%;
        height: 40px;
        margin-left: 10px;
        background: transparent;
        background-image: url('../img/filter-80.png');
        background-size: 38px 38px;
        background-position: center center;
        background-repeat: no-repeat;
    }

//    }
}

.todo__task{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    &__dt{
        width: 10%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        }
    &__time{
        font-size: 12px;
    }

    &__pr{
        width: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &-val{
            width: 50%;
            font-size: 24px;
            line-height: 60px;
            text-align: center;
            color: white;
            background-color: darkslategrey;
        }
        &__btn{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        &-up{
            width: 20px;
            height: 20px;
            background-image: url('../img/arrow-up.png');
            background-size: cover;
        }
        &-down{
            width: 20px;
            height: 20px;
            background-image: url('../img/arrow-down.png');
            background-size: cover;
        }
    }
}

.todo__task__desc{
    height: 60px;
    width: 62%;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding-left: 5px;
}

.todo__task__actions{
    width: 15%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;

    &_edit{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: transparent;
        background-image: url('../img/edit.png');
        background-size: cover;
    }
    &_done{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: transparent;
        background-image: url('../img/done.png');
        background-size: cover;
    }
    &_remove{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: transparent;
        background-image: url('../img/remove.png');
        background-size: cover;
    }
}

.task-is-not-done{
    opacity: .4;
}
.task-is-done{
    opacity: 1;
}

.task__container{
    position: relative;

    .empty__task__modal{
        position: absolute;
        top: 65px;
        left: 300px;
        width: 200px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-weight: bold;
        color: white;
        background-color: rgb(218, 103, 103);
        border: solid 2px darkred;
        border-radius: 5px;
    }
}

.modal__windows{
    position: relative;
}

.task__edit{
    position: absolute;
    top: 0;
    left: 300px;
    width: 500px;
    height: 250px;
    border: solid 1px darkblue;
    border-radius: 5px;
    background-color: white; 

    &__head{
        text-align: center;
        margin-bottom: 20px;
    }
    &__text{
        width: 90%;
        height: 60%;
        margin: 0 25px 20px 25px;
    }
    &__buttons{
        width: 100%;
        display: flex;
        justify-content: space-around;

        .task__edit__cancel{
            background-color: white;
            border: 1px solid rgb(24, 125, 207);
            color:rgb(24, 125, 207);

            &:hover, &:active{
                background-color: rgb(24, 125, 207);
                color: white;
            }
        }
        .task__edit__save{
            background-color: white;
            border: 1px solid rgb(24, 125, 207);
            color:rgb(24, 125, 207);

            &:hover, &:active{
                background-color: rgb(24, 125, 207);
                color: white;
            }
        }
    }
}

.task__remove{
    position: absolute;
    top: 0;
    left: 450px;
    width: 150px;
    height: 100px;
    border: solid 1px darkblue;
    border-radius: 5px;
    background-color: white; 

    &__head{
        text-align: center;
        margin-bottom: 20px;
    }    
    &__buttons{
        width: 100%;
        display: flex;
        justify-content: space-around;

        .task__remove__no{
            background-color: white;
            border: 1px solid rgb(24, 125, 207);
            color:rgb(24, 125, 207);

            &:hover, &:active{
                background-color: rgb(24, 125, 207);
                color: white;
            }
        }
        .task__remove__yes{
            background-color: white;
            border: 1px solid rgb(24, 125, 207);
            color:rgb(24, 125, 207);

            &:hover, &:active{
                background-color: rgb(24, 125, 207);
                color: white;
            }
        }
    }

}

/* todo end */